:root{
    /*Colors*/
    /*Hexadecimal*/
    --orange: #EF7C19;
    --light-orange: #ec8d39;
    --black: #13161F;
    --dark-black: #0A0D13;
    --white: #FFFFFF;
    --grey: #9D9D9D;

    /*RGBA*/

    --orange-opacity-5:rgba(239, 124, 25, 0.5);
    --black-opacity-5:rgba(19, 22, 31, 0.5);
    --dark-black-opacity-5:rgba(10, 13, 19, 0.5);
    --white-opacity-5:rgba(255, 255, 255, 0.5);

    /*Fonts*/
    --primary-font: Arial, Helvetica, sans-serif;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: var(--primary-font);
    color: var(--black);
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: var(--black);
}

.main-contact-information{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 4px;
    padding-right: 4px;
}

.logo-container{
    display: flex;
    align-items: center;
    width: 50%;
    height: 50px;
}

.logo-icon{
    width: 30px;
    height: 30px;
}

.menu-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
    height: 50px;
}

.menu-icon{
    width: 30px;
    height: 30px;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.nav-tab{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 35px;
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--white);
}

.nav-tab:hover{
    color: var(--orange);
}

.background-image{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 212px;
    background-image: url('../assets/images/contaduria-imagen-1-small.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.call-to-action{
    position: absolute;
    bottom: -15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 40px;
    border-radius: 5px;
    border: none;
    font-size: 1.6rem;
    text-decoration: none;
    box-shadow:  0px 4px 8px var(--black-opacity-5);
}

.call-to-action:hover{
    background-color: var(--dark-black);
}

main{
    width: 100%;
}

.main-coinser-srl-info{
    
}

.coinser-srl-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 340px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

.coinser-srl-info-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
}

.coinser-srl-info--icon{
    display: inline-block;
    width: 216px;
    height: 135px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.coinser-srl-info--title{
    width: 80%;
    min-width: 256px;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 2.4rem;
    font-weight: bold;
}

.coinser-srl-info--description{
    width: 80%;
    min-width: 256px;
    font-size: 1.6rem;
    font-weight: 300;
}

.main-resultados{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.main-resultados-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1200px;
}

.title-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 160px;
    padding-right: 10%;
    padding-left: 10%;
    text-align: center;
    background-color: var(--white);
}

.title-container--title{
    font-size: 2.4rem;
    margin-bottom: 10px;
    color: var(--orange);
}

.title-container--title-description{
    font-size: 1.6rem;
}

.result-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(50% - 20px);
    min-width: 140px;
    max-width: 360px;
    min-height: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    border-radius: 15px;
    box-shadow:  0px 4px 8px var(--black-opacity-5);
}

.result-container--porcentaje{
    font-size: 4.4rem;
    color: var(--orange);
}

.result-container--description{
    font-size: 1.6rem;
}

.main-services{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.main-services-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.service-container{
    position: relative;
    width: 100%;
    min-width: 320px;
    min-height: 320px;
    max-height: 480px;

}

.order-1{
    order: 1;
}

.order-2{
    order: 2;
}

.order-3{
    order: 3;
}

.order-4{
    order: 4;
}

.order-5{
    order: 5;
}

.order-6{
    order: 6;
}

.service-container--layer{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.service-container--icon{
    width: 160px;
    height: 120px;
}

.service-container--description{
    font-size: 1.6rem;
    color: var(--white);
}

.service-container--button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    min-width: 192px;
    max-width: 400px;
    height: 40px;
    border: none;
    border-radius: 5px;
    font-size: 1.6rem;
    text-decoration: none;
}

.service-container--text-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-container--icon-button{
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 10px;
}

footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

.coinser-srl-imagotipo{
    width: 273px;
    height: 121px;
    margin-top: 100px;
    margin-bottom: 100px;
}

.contact-information-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    height: auto;
}

.contact-information{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
}

.contact-information--title{
    width: 94%;
    max-width: 400px;
    margin-bottom: 10px;
    font-size: 1.6rem;
}

.contact-information--table{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 94%;
    max-width: 400px;
    height: auto;
    min-height: 80px;
}

.contact-information--row{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact-information--icon{
    display: inline-block;
    width: 20px;
    height: 20px;
}

.contact-information--data{
    margin-left: 5px;
    font-size: 1.6rem;
}

.social-media-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.social-media{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1200px;
}

.company-name{
    font-size: 1.6rem;
    margin-top: 7px;
    margin-bottom: 7px;
    text-align: center;
}

.social-media-links{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
}

.social-media-link{
    width: 20px;
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

/*Modificardor*/
.analisys-icon{
    background-image: url('../assets/icon/analysis-icon-orange.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.clock-icon{
    background-image: url('../assets/icon/clock-icon-orange.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.coin-money-currency-icon{
    background-image: url('../assets/icon/coin-money-currency-icon-black.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.contaduria-first-image{
    background-image: url('../assets/images/contaduria-imagen-1-small.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.contaduria-second-image{
    background-image: url('../assets/images/contaduria-imagen-2-small.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.dollar-sign-orange{
    background-image: url('../assets/icon/dollar-sign-orange.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.down-arrow-icon{
    background-image: url('../assets/icon/down-arrow-white.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.eye-icon{
    background-image: url('../assets/icon/eye-black.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.facebook-icon{
    background-image: url('../assets/icon/facebook-icon-white.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.isotipo-image{
    background-image: url('../assets/images/isotipo.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.imagotipo-image{
    background-image: url('../assets/images/logo-white-text.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.linkedin-icon{
    background-image: url('../assets/icon/linkedin-icon-white.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.location-icon{
    background-image: url('../assets/icon/location-icon-white.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.mail-icon{
    background-image: url('../assets/icon/mail-icon-white.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.pay-cash-icon{
    background-image: url('../assets/icon/pay-cash-icon-black.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.phone-icon{
    background-image: url('../assets/icon/phone-icon-white.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.right-arrow-icon{
    background-image: url('../assets/icon/right-arrow-icon-white.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.tax-icon{
    background-image: url('../assets/icon/tax-icon-orange.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.twitter-icon{
    background-image: url('../assets/icon/twitter-icon-white.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.background-color-orange{
    background-color: var(--orange);
}

.background-color-black{
    background-color: var(--black);
}

.background-color-dark-black{
    background-color: var(--dark-black);
}

.background-color-white{
    background-color: var(--white);
}

.background-color-transparent-orange{
    background: var(--orange-opacity-5);
}

.background-color-transparent-black{
    background: var(--black-opacity-5);
}

.background-color-hover-orange:hover{
    background-color: var(--light-orange);
}

.background-color-hover-dark-black:hover{
    background-color: var(--dark-black);
}

.button-orange-shadow{
    box-shadow: 0px 4px 8px var(--orange-opacity-5);
}

.button-black-shadow{
    box-shadow:  0px 4px 8px var(--black-opacity-5);
}

.text-color-orange{
    color: var(--orange);
}

.text-color-black{
    color: var(--black);
}

.text-color-white{
    color: var(--white);
}

.text-color-grey{
    color: var(--grey);
}
