.logo-container{
    justify-content: center;
    width: 20%;
    min-width: 100px;
    height: 50px;
}

.logo-icon{
    width: 40px;
    height: 40px;
}

.menu-container{
    display: none;
}

nav{
    flex-direction: row;
    width: 80%;
}

.nav-tab{
    border-top: none;
    height: 50px;
    font-size: 1.6rem;
}

.nav-tab{
    border-top: none;
}

.background-image{
    background-image: url('../assets/images/contaduria-imagen-1-medium.jpg');
}

.service-container{
    width: 50%;
}

.order-3{
    order: 4;
}

.order-4{
    order: 3;
}

.contact-information-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.contact-information{
    width: 50%;
    max-width: 600px;
}